{% extends 'main.html' %}

{% block content %}

<div class="container">
    <h5>Les commandes</h5>
    <hr>
    <div class="card card-body">
        <a href="{% url 'ajouter_commande' %}" class="btn btn-primary btn-sm btn-block">Ajouter une commande</a>
        <table class="table table-sm">
            <tr>
                <th>Produits</th>
                <th>Client</th>
                <th>Date</th>
                <th>Status</th>
                <th>Mise à jour</th>
                <th>Supprimer</th>
            </tr>
            {% for commande in commandes %}
            <tr>
                <th>{{commande.produit}}</th>
                <th>{{commande.client}}</th>
                <th>{{commande.date_creation}}</th>
                <th>{{commande.status}}</th>
                <th> <a class="btn btn-sm btn-info" href="{% url 'modifier_commande' commande.id %}"> modifier</a> </th>
                <th> <a class="btn btn-sm btn-danger" href="{% url 'supprimer_commande' commande.id %}"> Supprimer</a> </th>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>

{% endblock %}